<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-6530974883137971~8095578177</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>productPubPEM</key>
	<string>-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuVg0t47njOJoF2AtZRj2
O7VfPESF4vc1BVmtvI59ZQqlgydmNTddhpKQISMJz94p45aZLoJpQikluV+ywg4a
/40UTsPl53nL5nFAnDjCvaeMOYqI74iXoy6nYkF+0yM449qH8kceqLyViZylcetT
XU6s/J3DV2eKXo7/eocEef8qtlZlLkFnoppi5UQ5WNZD/qHh9oMknkN/1qYzcckn
4pzHmapOAJopLpO9AjudfD9rHD+5Tsg9O3lucnBO4MyZCx5po8K4PX57gvfEmfsS
xlC7tQUAcFM5PytxD7j8HwCr1msQTT4otNhjyqPL3opDNgvrtfUhTbhPCEcUh200
BQIDAQAB
-----END PUBLIC KEY-----
-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuVg0t47njOJoF2AtZRj2
O7VfPESF4vc1BVmtvI59ZQqlgydmNTddhpKQISMJz94p45aZLoJpQikluV+ywg4a
/40UTsPl53nL5nFAnDjCvaeMOYqI74iXoy6nYkF+0yM449qH8kceqLyViZylcetT
XU6s/J3DV2eKXo7/eocEef8qtlZlLkFnoppi5UQ5WNZD/qHh9oMknkN/1qYzcckn
4pzHmapOAJopLpO9AjudfD9rHD+5Tsg9O3lucnBO4MyZCx5po8K4PX57gvfEmfsS
xlC7tQUAcFM5PytxD7j8HwCr1msQTT4otNhjyqPL3opDNgvrtfUhTbhPCEcUh200
BQIDAQAB
-----END PUBLIC KEY-----</string>
	<key>UIAppFonts</key>
	<array>
		<string>Urbanist-Black.ttf</string>
		<string>Urbanist-Bold.ttf</string>
		<string>Urbanist-ExtraBold.ttf</string>
		<string>Urbanist-ExtraLight.ttf</string>
		<string>Urbanist-Italic.ttf</string>
		<string>Urbanist-Light.ttf</string>
		<string>Urbanist-Medium.ttf</string>
		<string>Urbanist-Regular.ttf</string>
		<string>Urbanist-SemiBold.ttf</string>
		<string>Urbanist-Thin.ttf</string>
	</array>
</dict>
</plist>
